<% include ../partials/header %>

<div class="ui container">
	<div class="row">
		
    <h1 style="text-align: center">Add A New Hotel</h1>
		
    <div style="width:30%; margin:25px auto">
			<form action="/hotels" method="POST" accept-charset="utf-8" name="mForm" id="mForm">
				
        <div class="form-group row">
					
          <div class="col-xs-8">
						<input class="form-control" type="text" name="hotel[Name]" placeholder="Name">
					</div>

					<div class="rating">
  				  
            <label>
      				<input type="radio" name="hotel[Rating]" value="1" checked/>
      				<span class="icon">★</span>
    				</label>
            
            <% for(var i=2; i<=5; i++) { %>
        			<label>
        				<input type="radio" name="hotel[Rating]" value="<%=i%>" />
                <% for(var j=0;j<i;j++) { %>
        				  <span class="icon">★</span>
                <% } %>
      				</label>
            <% } %>
			  	
          </div>

				</div>
				
				<div class="form-group">
					<input class="form-control" type="text" name="hotel[Logo]" placeholder="Image URL">
				</div>
				
        <div class="form-group">
					<textarea class="form-control" name ="hotel[Description]" rows="3" placeholder="Description"></textarea>
				</div>
				
        <div class="form-group row">
					<div id="map"></div>
        </div>

				<div class="form-group row">
					<div id="room-service" class="col-xs-2 luxury"><i class="bell icon" title="Room Service"></i></div>
					<div id="restaurant" class="col-xs-2 luxury"><i class="food icon"  title="Restaurant / Food-court"></i></div>
					<div id="internet" class="col-xs-2 luxury"><i class="wifi icon"  title="Internet"></i></div>
					<div id="gym" class="col-xs-2 luxury"><i class="fas fa-dumbbell"  title="Gym / Fitness"></i></div>
					<div id="pool" class="col-xs-2 luxury"><i class="fas fa-swimmer" title="Swimming Pool"></i></div>
					<div id="doctor" class="col-xs-2 luxury"><i class="fas fa-user-md" title="inhouse doctor"></i></div>
				</div>
				
        <div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Add Hotel</button>
				</div>

			</form>
    </div>
	
  </div>
</div>

<script>
  var map, marker;
	var roomService = false, restaurant = false, internet=false, gym=false, pool=false, doctor=false;
  function initMap() {
    var geocoder = new google.maps.Geocoder();
    var uluru = {
      lat: 12.861259039000183,
      lng: 77.66473955241634
    };
    map = new google.maps.Map(document.getElementById('map'), {
      center: uluru,
      zoom: 17,
			disableDefaultUI: true
    });
    map.addListener('click', function(event) {
      placeMarker(event.latLng);  
    });
    marker = new google.maps.Marker({position: uluru, map: map});
  }
  
  $("#mForm").submit(function(){
		// append latitude
    $('<input />').attr('type', 'hidden')
        .attr('name', "hotel[Lat]")
        .attr('value', marker.position.lat())
        .appendTo("#mForm");
		// append longitude
    $('<input />').attr('type', 'hidden')
        .attr('name', "hotel[Lng]")
        .attr('value', marker.position.lng())
        .appendTo("#mForm");
		// append room-service
		$('<input />').attr('type', 'hidden')
        .attr('name', "hotel[RoomService]")
        .attr('value', roomService ? 1 : 0)
        .appendTo("#mForm");
		// append restaurant 
		$('<input />').attr('type', 'hidden')
        .attr('name', "hotel[Restaurant]")
        .attr('value', restaurant ? 1 : 0)
        .appendTo("#mForm");
		// append internet
		$('<input />').attr('type', 'hidden')
        .attr('name', "hotel[Internet]")
        .attr('value', internet ? 1 : 0)
        .appendTo("#mForm");
		// append gym
		$('<input />').attr('type', 'hidden')
        .attr('name', "hotel[Gym]")
        .attr('value', gym ? 1 : 0)
        .appendTo("#mForm");
		$('<input />').attr('type', 'hidden')
        .attr('name', "hotel[Pool]")
        .attr('value', pool ? 1 : 0)
        .appendTo("#mForm");
		$('<input />').attr('type', 'hidden')
        .attr('name', "hotel[Doctor]")
        .attr('value', doctor ? 1 : 0)
        .appendTo("#mForm");
    return true;
  });

	$("#room-service").click(function(){
		roomService = !roomService;
		if(roomService){
			$("#room-service").css("color", "green");
		} else {
			$("#room-service").css("color", "grey");
		}
	});

	$("#restaurant").click(function(){
		restaurant = !restaurant;
		if(restaurant){
			$("#restaurant").css("color", "green");
		} else {
			$("#restaurant").css("color", "grey");
		}
	});

	$("#internet").click(function(){
		internet = !internet;
		if(internet){
			$("#internet").css("color", "green");
		} else {
			$("#internet").css("color", "grey");
		}
	});

	$("#gym").click(function(){
		gym = !gym;
		if(gym){
			$("#gym").css("color", "green");
		} else {
			$("#gym").css("color", "grey");
		}
	});

	$("#pool").click(function(){
		pool = !pool;
		if(pool){
			$("#pool").css("color", "green");
		} else {
			$("#pool").css("color", "grey");
		}
	});

	$("#doctor").click(function(){
		doctor = !doctor;
		if(doctor){
			$("#doctor").css("color", "green");
		} else {
			$("#doctor").css("color", "grey");
		}
	});
  
  function placeMarker(location) {
    marker.setMap(null);
    marker = new google.maps.Marker({
        position: location, 
        map: map
    });
    console.log(location.lng());
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDntCMXX2COhjt-C6ecCAHeDaqDLGR94Gs&callback=initMap" async defer></script>

<style>
  #map {
    margin:auto;
    height: 300px;
    width: 300px;
    background-color: grey;
  }

	.luxury:hover {
		color:green;		
	}

	.luxury{
		margin-top: 10px;
		font-size: 30px;
		color:grey;
	}
</style>

<% include ../partials/footer %>